.d-flex {
display: flex;
background-color: #011627;
margin-bottom: 10px;
padding: 8px;
border-radius: 4px;
}

.d-flex:hover, .details:hover{
background-color: #f8f2f2;
color: #011627;
}

img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar {
width: 20%;
}

.details {
width: 80%;
text-transform: uppercase;
color: white;
}

.active {
background-color: #f8f2f2;
color: #011627;
}


