<div class="c-f">
<div class="example-container">
  <form [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="email"
    />
    @if (form.controls.email.invalid) {
    <mat-error>{{errorMsg}}</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'"  formControlName="password"/>
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

      <div class="button">
        <button mat-raised-button cdkFocusInitial type="submit" (click)="login()">login</button>
        <button mat-raised-button (click)="home()">annulla</button>
      </div>

  </form>

  <button mat-raised-button (click)="register()">Registrati</button>
</div>
</div>
