header {
height: 50px;
margin: 0px;
padding: 0px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
}
.entity {
display: flex;
}
img {
height: 44px;
padding: 3px;
}
li {
width: calc(100% / 3);
text-align: center;
text-transform: uppercase;
margin: 0 px;
height: 100%;
line-height: 50px;
}
li:hover{
background-color: yellow;
}
ul {
width: calc(100% / 3);
height: 50px;
margin: 0px;
padding: 0px;
display: flex;
justify-content: flex-start;
align-items: center;
list-style-type: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  display: block;
  color:#212529;
}
a:hover {
color: blue;
}
div div{
width: 33%;

}
.log {
text-align: right;
width: calc(100% / 3);
}
.log button {
text-transform: uppercase;
background-color: #8aa399;
border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.image {
width: calc(100% / 3);
text-align: center;
}
.active {
background-color: #8aa399;
color: #212529;
}
.active a {
  color: white;
}
