<h2 mat-dialog-title>Inserisci i dati del corso</h2>
<mat-dialog-content class="dialog-content">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <mat-form-field class="example-full-width mt-3">
      <mat-label>Corsi disponibili</mat-label>
      <mat-select formControlName="corsiSeguitiId" multiple>
        @for (corso of data.corsi; track corso) {
        <mat-option [value]="corso.id">{{corso.nomeCorso}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-dialog-actions>
      <div class="button">
        <button mat-raised-button cdkFocusInitial type="submit" (click)="onSubmit()">salva</button>
        <button mat-raised-button (click)="onNoClick()">annulla</button>
      </div>
    </mat-dialog-actions>

    <p *ngIf ="form.controls.corsiSeguitiId.touched && form.controls.corsiSeguitiId.invalid ">
      inserisci descrizione di 6 caratteri
    </p>
  </form>
</mat-dialog-content>


