<div class="container">

  <div class="d-flex">
    <p *ngIf="isFetching() && !error()">...</p>
    <p *ngIf="error()">{{error()}}</p>
    <div class="list">

      <!-- <app-card @for (docente of docenti; track d.id) (select)="onSelectD($event)"
                 [docente]="docente"></app-card>
       <app-card *ngFor="let d of docenti; let i = index "(select)="onSelectD($event)"
                 [docente]="docenti[i]"></app-card>-->
      <app-card *ngFor="let docente of docenti()" (select)="onSelectedDocente($event)"
                [docente]="docente" [selected]="docente.id===selectedDocente"></app-card>

    </div>
    <div class="details">

        <app-dettagli [selectedDocente]="selectedDocenteObject"></app-dettagli>

    </div>
  </div>

</div>

