.container {
width: 1400px;
margin: 0 auto;
height: calc(100vh - 50px);
}
.table {
--bs-table-bg-type: #8aa399;
--bs-table-hover-bg: rgba(255, 255, 255, 0.1);
 --bs-table-color-type: #212529;
   }
h1 {
margin: 0px;
padding-top: 20px;
}
.padding {
margin-right: 20px;
}
td:nth-child(2) {
width:30%;
}
td:nth-child(3) {
width:30%;
}
td:nth-child(4) {
width:20%;
}
td:nth-child(5) {
width:20%;
}
