<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="input-group">
    <p>
      <label>Nome</label>
      <input type="text" ngModel name="nome" id="nome" required #nome="ngModel">
    </p>
    <p>
      <label>Cognome</label>
      <input type="text" ngModel name="cognome" id="cognome" required #cognome="ngModel">
    </p>
    <p>
      <label></label>
      <input>
    </p>
  </div>
  <p>
    <button>salva</button>
  </p>
 <p *ngIf ="form.form.touched && form.form.invalid">
   invalid values detected
 </p>
</form>
