<div class="container">
  <div class="d-flex justify-content-between align-items-center padding-top-20 header-f">
    <div class="d-flex align-items-center">
      <h2>lista corsi</h2>
    </div>
    <div>
      <button (click)="openDialogAdd()">aggiungi corso</button>
    </div>
  </div>
  <div class="padding-top-20 d-flex flex-column justify-content-between main-f">
    <table class="table custom-bg-orange table-hover">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">nome corso</th>
        <th scope="col">docente</th>
        <th scope="col">data inizio</th>
        <th scope="col">data fine</th>
        <th [ngStyle]="calculateStyle()" scope="col">azioni</th>

      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let corso of corsi()">
        <td><a [routerLink]="'/corsi/' + corso.id" routerLinkActive="selected">
          <mat-icon>open_in_new</mat-icon>
        </a></td>
        <td>{{corso.nomeCorso}}</td>
        <td>
          <a [routerLink]="'/docenti/' + corso.idDocenteDTO" routerLinkActive="selected">{{corso.nomeDocenteDTO}} {{corso.cognomeDocenteDTO}} </a>
        </td>
        <td>{{corso.dataInizio}}</td>
        <td>{{corso.dataFine? corso.dataFine : ''}}</td>
        <td>
          <mat-icon (click)="openDialogView(corso)">remove_red_eye</mat-icon>
          @if(authService.isAdmin()) {
          <mat-icon (click)="openDialogEdit(corso)">edit</mat-icon>
          <mat-icon (click)="openDialogDelete(corso)">delete</mat-icon>
          }
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center">
      <p class="num-pages">pagina {{pageNum()+1}} di {{totalPages()}}</p>
      <div class="pagination-arrows">
        <mat-icon (click)="changePage(-1)">arrow_back_ios</mat-icon>
        <p>{{pageNum()+1}}</p>
        <mat-icon (click)="changePage(1)" class="padding-left">arrow_forward_ios</mat-icon>
      </div>
      <p>{{firstElement()}}-{{lastElement()}} of {{totalElements()}}</p>
    </div>
  </div>

</div>

