
<form (ngSubmit)="onSubmit(form, nome, inizio, fine)" #form="ngForm">
  <div class="input-group">
    <p>
      <label>Nome</label>
      <input type="text" ngModel name="nome" id="nome" required #nome="ngModel">
    </p>
    <p>
      <label>Data inizio</label>
    <input type="date" [(ngModel)]="dataInizio" name="data-inizio" [value]="today" [min]="today" required #inizio="ngModel"/>
    </p>
    <p>
      <label>Data fine</label>
      <input type="date" ngModel name="data-fine" [value]="dataInizio()" [min]="dataInizio()" required #fine="ngModel"/>
    </p>
  </div>

  <p>
    <button class="button">salva</button>
    <button class="button"><a routerLink="../">Cancel</a></button>
  </p>
  <p *ngIf ="form.form.touched && form.form.invalid">
    invalid values detected
  </p>
</form>
