<div class="container">
<h1>{{docente() ? docente()!.nome + " " + docente()!.cognome : "Docente non disponibile"}}</h1>
<table class="table table-hover table-responsive-sm">
  <thead>
  <tr>
    <th >nome</th>
    <th>data inizio</th>
    <th>dataFine</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let corso of docente()?.corsi">
      <td>{{corso.nomeCorso}}</td>
      <td>{{corso.dataInizio | date: 'MMM/dd/yyyy'}}</td>
      <td>{{corso.dataFine | date: 'MMM/dd/yyyy'}}</td>
    </tr>
  </tbody>
</table>
<a [routerLink]="['/docenti', id(), 'addCorso']" class="button">aggiungi corso</a>
<router-outlet></router-outlet>
</div>
